* {
font-family:serif;


}
img{
    width: auto;
    margin: auto;
    display: flex;
    align-items:center;
    right: 10%;

}

.hero-image{
    background-image:url("./images/220213.jpeg");
    background-position: center;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text{
    color: white;
    position: relative;
    width: 100%;
    text-align: center;
    top: 95px;
    font-size: 4rem;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    text-align: center;
    top: 50%;
    margin: auto;
    margin-top: 100px;
    width: 80%;
}



/* test run start*/

/* test run end */
/*     margin: auto;
    display: flex;
    align-items:center;
    right: 10%; */
